# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Lasse Bach
	email = <fill in>
[push]
	default = current
[git-up "fetch"]
	prune = true
[http "https://gopkg.in"]
	followRedirects = true
